[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kasm-user/Desktop/Downloads]
row=0
col=0

[/home/kasm-user/Desktop/Uploads]
row=1
col=0

[/home/kasm-user/Desktop/code.desktop]
row=3
col=0

[/home/kasm-user/Desktop/google-chrome.desktop]
row=4
col=0

[/home/kasm-user/Desktop/firefox.desktop]
row=5
col=0

[/home/kasm-user/Desktop/pycharm.desktop]
row=2
col=0

